h3
   | This is Contact US
   small This is just welcome message for ContatUs page.
// START panel
.panel.panel-default
   .panel-heading  Inline form
   .panel-body
      form.form-inline(role='form')
         .form-group
            label.sr-only(for='input-email') Email address
            input#input-email.form-control(type='email', placeholder='Type your email')
         .form-group
            label.sr-only(for='input-password') Password
            input#input-password.form-control(type='password', placeholder='Type your password')
         .checkbox.c-checkbox
            label
               input(type='checkbox')
               span.fa.fa-check
               |  Remember
         button.btn.btn-default(type='submit') Sign in
// END panel
.row
   .panel.panel-default
      .panel-body
         .col-xs-6.col-sm-4 adsfdsadsafdsaf
         .col-xs-6.col-sm-4 adsfdsadsafdsaf
         .col-xs-6.col-sm-4 adsfdsadsafdsaf