<h3>Product List ({{ProductsCtrl.products.length}}) {{ProductsCtrl.totalItems}}</h3>
<div class="row">
   <div class="col-xs-12 text-center">
      <div class="row">
         <uib-pagination total-items="ProductsCtrl.totalProducts" ng-model="ProductsCtrl.currentPage" max-size="ProductsCtrl.maxSize" boundary-links="true" rotate="false" num-pages="ProductsCtrl.numPages" ng-change="ProductsCtrl.pageChanged()" items-per-page="ProductsCtrl.productsPerPage"
         class="pagination pull-right"></uib-pagination>
      </div>
      <div class="row">
         <div ng-repeat="p in ProductsCtrl.products" style="min-height:333px" class="col-sm-6 col-md-3">
            <div class="thumbnail">
               <img src="{{p.Items.Item.MediumImage.URL}}" alt="test" style="height:160px" />
               <div style="height:170px" class="caption">
                  <p>
                     <strong uib-popover="{{p.Items.Item.ItemAttributes.Title}}" popover-trigger="mouseenter">{{p.Items.Item.ItemAttributes.Title | truncate:50 }}</strong>
                  </p>
                  <p>Brand name and other information.</p>
                  <p><a href="{{p.Items.Item.DetailPageURL}}" target="_blank" role="button" class="btn btn-primary">Buy On Amazon</a>
                  </p>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <uib-pagination total-items="ProductsCtrl.totalProducts" ng-model="ProductsCtrl.currentPage" max-size="ProductsCtrl.maxSize" boundary-links="true" rotate="false" num-pages="ProductsCtrl.numPages" ng-change="ProductsCtrl.pageChanged()" items-per-page="ProductsCtrl.productsPerPage"
         class="pagination pull-right"></uib-pagination>
      </div>
   </div>
</div>